@use "sass:color";

@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #fff !default;
$background-color: #fdfdfd !default;
$brand-color:      #5ca5ac !default;
$outline-color:    #776651 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;


$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

@font-face {
  font-family: "Copper Penny";
  src:
    local("Copper Penny"),
    url("/assets/fonts/Copper-Penny-DTP.otf") format("opentype");
}

h1.flower-header {
  font-family: "Copper Penny";
  font-size: 90pt;
  background-image:
    url("/assets/images/text-mask.png"),
    linear-gradient(#13c1d1, #5ca5ac);
  background-size: contain;
  background-position: center;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px $outline-color;
}

a.page-link {
  font-family: "Copper Penny";
  font-size: 24px;
  background-image: linear-gradient(#13c1d1, #5ca5ac);
  background-size: contain;
  background-position: center;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #776651;
}

// Stuff I added, not sure how best to organize scss yet
.site-title img {
  width: 48px;
}

header {
  //background-color: #d6b126;
  padding-top: 12px;
  padding-bottom: 12px;
}

// Scrollbar styling
body {
  scrollbar-color: #49c3dc #efb2b2;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 200px;
  height: 10px;
  background: #AAA;
}

// Title images
h1 img {
  width: 60%;
}

// Footer
footer {
  background-color: #4c5051;

  a {
    color: #fff;
  }
}

.footer-portrait {
  max-width: 128px;
}

.footer-col-wrapper {
  float: right;

  >div {
    // Each column
    float: left;
    padding-left: 16px;
  }

  .contact-col {
    display: flex;
    height: 128px;

    >* {
      align-self: flex-end;
    }
  }
}

.segway-rule {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(50%);
}

// Contact form styling
#contact-form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  div {
    margin-bottom: $spacing-unit * 0.5;
  }

  label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.15);
    color: $text-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    box-sizing: border-box;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      outline: none;
      border-color: $brand-color;
      background-color: rgba(255, 255, 255, 0.25);
    }
  }

  textarea {
    resize: vertical;
    min-height: 120px;
  }

  button[type="submit"] {
    display: block;
    padding: 12px 32px;
    margin-top: $spacing-unit * 0.5;
    margin-left: auto;
    margin-right: auto;
    background-color: $brand-color;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: $base-font-size;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: darken($brand-color, 10%);
    }

    &:active {
      background-color: darken($brand-color, 15%);
    }
  }

  // hCaptcha centering
  .h-captcha {
    margin-top: $spacing-unit * 0.5;
    display: flex;
    justify-content: center;
  }
}

// Home page image links
.home-links {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: 1000px;

  .home-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-unit * 0.5;

    @include media-query($on-palm) {
      grid-template-columns: 1fr;
    }
  }

  .home-contact {
    margin-top: $spacing-unit * 0.5;

    a {
      display: block;
      width: 50%;
      margin: 0 auto;

      @include media-query($on-palm) {
        width: 100%;
      }
    }
  }

  a img {
    display: block;
    width: 100%;
  }
}
