 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #d6b126, #bc6a0f);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}